
-- =============================================
-- Author:		Sharon
-- Create date: 31/12/2013
-- Update date: 16/04/2014 exec xp_cmdshell "cmd /c del ' + BackupPath + N'\PureDatabaseName.bak"
--				17/06/2014 Sharon DomainEndPoint
--				06/07/2014 Niro levi  Change the url of ENDPOINT- DELETE "+.ad.+" from the create endpoint
--				22/10/2015 Sharon Add @databaseLevel as SQL Server 2014
--				18/02/2015 Shmulik, added the in memory filegroup
--				19/02/2015 Niro Adding { AND DB_NAME()=ao.DatabaseName }
--				12/03/2015 Sharon Customs_DBA.[Jobs].[usp_General_CreateBackupCustoms] 
--				21/04/2015 Sharon Change in create db
--				25/05/2015 Niro Adding @IsFastBackRestore
--				10/08/2015 Niro EXEC [_ScheduleTask_].[usp_Monitor_GlobalConfiguration]
--				10/01/2016 Sharon Pool
-- Description:	SET HADR AVAILABILITY GROUP----לעדכן את צוות של אמנון בעת ביצוע
-- Make sure:	There is a line about the server in - Customs_DBA.[DBSetup].[Setup_HADRConfiguration]
--				Secandary DB in Customs_DBA - DBSetup.Security_Database
--				BackupPath has Shaerd Permission
--				There is WC on both Servers.
--				AlwaysOn Fetcher is on both instanses
--				DB is in Full recovery mode.
-- =============================================
ALTER PROCEDURE [_Admin_].[usp_HADR_SetAvailabilityGroup]
	@Password NVARCHAR(255),
	@IsFastBackRestore BIT =0
WITH EXECUTE AS OWNER
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	DECLARE @cmd NVARCHAR(Max) = N''; 
	DECLARE @DateTimeLable NVARCHAR(25) = FORMAT(GETDATE(),'yyyyMMdd_hhmmss');
	DECLARE @databaseLevel TINYINT;
	DECLARE @DBname sysname;

	SELECT @DBname = DB_NAME();

	IF EXISTS (SELECT TOP 1 1 FROM sys.databases WHERE	database_id = DB_ID() AND recovery_model != 1)
	BEGIN
		PRINT 'Recovery Model is not FULL on this DB!'
		--RETURN -1;
	END
	IF EXISTS (SELECT TOP 1 1 FROM sys.databases WHERE	database_id = DB_ID() AND is_broker_enabled = 0)
	BEGIN
		PRINT 'Broker should be enabled on this DB!'
	--	RETURN -1;
	END
	IF EXISTS (SELECT TOP 1 1 FROM sys.databases WHERE	database_id = DB_ID() AND is_trustworthy_on = 0)
	BEGIN
		PRINT 'Trustworthy should be enabled on this DB!'
	--	RETURN -1;
	END

	SELECT @databaseLevel = compatibility_level FROM sys.databases WITH (NOLOCK) WHERE database_id = DB_ID();

	IF EXISTS(SELECT TOP 1 1 FROM sys.databases D WHERE	D.database_id = DB_ID() AND D.replica_id IS NULL AND D.resource_pool_id IS NULL)
	BEGIN
		--Activate Pool
		IF NOT EXISTS(SELECT TOP 1 1 FROM sys.databases D INNER JOIN sys.dm_resource_governor_resource_pools DRGRP ON DRGRP.pool_id = d.resource_pool_id WHERE DRGRP.name = 'Pool_IMOLTP')
			AND EXISTS(SELECT TOP 1 1 FROM sys.dm_resource_governor_resource_pools DRGRP WHERE	DRGRP.name = 'Pool_IMOLTP')
				SET @cmd = 'EXEC sp_xtp_bind_db_resource_pool ''' + @DBname + ''', ''Pool_IMOLTP'';
USE master
GO
'
		PRINT @cmd;
		SET @cmd = N'';
END
--SELECT * FROM sys.dm_resource_governor_resource_pools DRGRP

--IF EXISTS(SELECT TOP 1 1 FROM sys.databases D WHERE	D.database_id = DB_ID() AND D.replica_id IS NOT NULL AND D.resource_pool_id IS NULL)
--BEGIN
--    -- Info:: you can not attach pool while db in activity group
--	--Activate Pool
--	EXEC sp_xtp_bind_db_resource_pool @DB_Name, 'Pool_IMOLTP';
--END

	--CREATE AVAILABILITY GROUP
	IF NOT EXISTS (SELECT TOP 1 1 FROM sys.availability_groups)
	BEGIN
		SELECT	@cmd = '
:Connect ' + PS.NetName + ' -U sa -P ' + @Password + '
USE [master]
GO
IF NOT EXISTS(SELECT TOP 1 1 FROM sys.endpoints WHERE name = ''Hadr_endpoint'')
CREATE ENDPOINT [Hadr_endpoint] 
	AS TCP (LISTENER_PORT = 5022)
	FOR DATA_MIRRORING (ROLE = ALL, ENCRYPTION = REQUIRED ALGORITHM AES)
GO
IF (SELECT state FROM sys.endpoints WHERE name = N''Hadr_endpoint'') <> 0
BEGIN
	ALTER ENDPOINT [Hadr_endpoint] STATE = STARTED
END
GO
GRANT CONNECT ON ENDPOINT::[Hadr_endpoint] TO [' + PS.ServiceWinUser + ']
GO

:Connect ' + SS.NetName + ' -U sa -P ' + @Password + '
USE [master]
GO
IF NOT EXISTS(SELECT TOP 1 1 FROM sys.endpoints WHERE name = ''Hadr_endpoint'')
CREATE ENDPOINT [Hadr_endpoint] 
	AS TCP (LISTENER_PORT = 5022)
	FOR DATA_MIRRORING (ROLE = ALL, ENCRYPTION = REQUIRED ALGORITHM AES)

GO
IF (SELECT state FROM sys.endpoints WHERE name = N''Hadr_endpoint'') <> 0
BEGIN
	ALTER ENDPOINT [Hadr_endpoint] STATE = STARTED
END
GRANT CONNECT ON ENDPOINT::[Hadr_endpoint] TO [' + PS.ServiceWinUser + ']
GO

:Connect ' + PS.NetName + ' -U sa -P ' + @Password + '
IF EXISTS(SELECT * FROM sys.server_event_sessions WHERE name = ''AlwaysOn_health'')
BEGIN
  ALTER EVENT SESSION [AlwaysOn_health] ON SERVER WITH (STARTUP_STATE = ON);
END
IF NOT EXISTS(SELECT * FROM sys.dm_xe_sessions WHERE name = ''AlwaysOn_health'')
BEGIN
  ALTER EVENT SESSION [AlwaysOn_health] ON SERVER STATE = START;
END
GO

:Connect ' + SS.NetName + ' -U sa -P ' + @Password + '
IF EXISTS(SELECT * FROM sys.server_event_sessions WHERE name = ''AlwaysOn_health'')
BEGIN
  ALTER EVENT SESSION [AlwaysOn_health] ON SERVER WITH (STARTUP_STATE=ON);
END
IF NOT EXISTS(SELECT * FROM sys.dm_xe_sessions WHERE name = ''AlwaysOn_health'')
BEGIN
  ALTER EVENT SESSION [AlwaysOn_health] ON SERVER STATE = START;
END
GO

:Connect ' + PS.NetName + ' -U sa -P ' + @Password + '
USE [master]
GO
CREATE AVAILABILITY GROUP ' + QUOTENAME(AO.AvailabilityGroupName) + ' WITH (AUTOMATED_BACKUP_PREFERENCE = NONE)
FOR REPLICA ON N''' + PS.ServerName + ''' WITH (ENDPOINT_URL = N''TCP://' + PS.ServerName + '.' + PS.DomainName +'.' +  AO.DomainEndPoint +':5022'', FAILOVER_MODE = MANUAL, AVAILABILITY_MODE = ASYNCHRONOUS_COMMIT, SESSION_TIMEOUT = 10, BACKUP_PRIORITY = 50, PRIMARY_ROLE(ALLOW_CONNECTIONS = ALL), SECONDARY_ROLE(ALLOW_CONNECTIONS = ALL)),
	N''' + sS.ServerName + ''' WITH (ENDPOINT_URL = N''TCP://' + sS.ServerName + '.' + PS.DomainName +'.' + AO.DomainEndPoint +':5022'', FAILOVER_MODE = MANUAL, AVAILABILITY_MODE = ASYNCHRONOUS_COMMIT, SESSION_TIMEOUT = 10, BACKUP_PRIORITY = 50, PRIMARY_ROLE(ALLOW_CONNECTIONS = ALL), SECONDARY_ROLE(ALLOW_CONNECTIONS = ALL));

:Connect ' + SS.NetName + ' -U sa -P ' + @Password + '
ALTER AVAILABILITY GROUP ' + QUOTENAME(AO.AvailabilityGroupName) + ' JOIN;
'
		FROM	Customs_DBA.[DBSetup].[Setup_HADRConfiguration] AO
				INNER JOIN Customs_DBA.DBSetup.Security_Server PS ON PS.ID = AO.Primary_ServerID
				INNER JOIN Customs_DBA.DBSetup.Security_Server SS ON SS.ID = AO.Secondary_ServerID
		WHERE	PS.ServerName = @@SERVERNAME;


		EXEC [Customs_DBA].[Script].[usp_PrintNvarcharMax] @cmd;


	END--End Activate END Point.

		
    SELECT	@cmd = N'--------------------------------------------------------------------------------------------------------------------------------------------------
					----YOU MUST EXECUTE THE FOLLOWING SCRIPT IN SQLCMD MODE.-----יש לעדכן את הצוות של אמנון בעת ביצוע
--------------------------------------------------------------------------------------------------------------------------------------------------
:Connect SSNetName -U sa -P Password 
USE [master]
GO
--------------------------------------------------------------------------------------------------------------------------------------------------
--																Build Demo DB
--------------------------------------------------------------------------------------------------------------------------------------------------
IF EXISTS ( SELECT state FROM sys.databases WITH (NOLOCK) WHERE [name] = ''PureDatabaseName'' AND state = 0 ) AND @@SERVERNAME = ''' + SS.ServerName + '''
BEGIN
    ALTER DATABASE PureDatabaseName SET SINGLE_USER  WITH ROLLBACK IMMEDIATE;
    USE DatabaseName;
END
IF EXISTS ( SELECT state FROM sys.databases WITH (NOLOCK) WHERE [name] = ''PureDatabaseName'' AND state = 1 ) AND @@SERVERNAME = ''' + SS.ServerName + '''
BEGIN
	RESTORE DATABASE PureDatabaseName WITH RECOVERY; 
    ALTER DATABASE PureDatabaseName SET SINGLE_USER  WITH ROLLBACK IMMEDIATE;
    USE PureDatabaseName;
END
USE [master]
go
DROP DATABASE PureDatabaseName
GO
'
	FROM	Customs_DBA.[DBSetup].[Setup_HADRConfiguration] AO
			INNER JOIN Customs_DBA.DBSetup.Security_Server PS ON PS.ID = AO.Primary_ServerID
			INNER JOIN Customs_DBA.DBSetup.Security_Server SS ON SS.ID = AO.Secondary_ServerID
	WHERE	PS.ServerName = @@SERVERNAME AND  @DBname=ao.DatabaseName;


	DECLARE @TargetDirectory NVARCHAR(255)
	DECLARE @TargetLogLocation NVARCHAR(255)

	SELECT	@TargetDirectory = AO.SecondaryDataPath,@TargetLogLocation = AO.SecondaryLogPath
	FROM	Customs_DBA.[DBSetup].[Setup_HADRConfiguration] AO
			INNER JOIN Customs_DBA.DBSetup.Security_Server PS ON PS.ID = AO.Primary_ServerID
			INNER JOIN Customs_DBA.DBSetup.Security_Server SS ON SS.ID = AO.Secondary_ServerID
	WHERE	PS.ServerName = @@SERVERNAME AND  @DBname=ao.DatabaseName;
	DECLARE @Output NVARCHAR(max);
	EXECUTE Customs_DBA.[DBSetup].[usp_Setup_GetCreateDBScript] @DBname,@TargetDirectory,@TargetLogLocation,@Output OUTPUT;

    SELECT	@cmd += @Output
	/*N'CREATE DATABASE DatabaseName CONTAINMENT = NONE ON PRIMARY 
( NAME = N''PureDatabaseName'', FILENAME = N''SecondaryDataPathPureDatabaseName.mdf'' , SIZE = 151552000KB , MAXSIZE = UNLIMITED, FILEGROWTH = 512000KB ), 
 FILEGROUP [ActimizeFG] 
( NAME = N''Customs_Actimize1_SufixDBName'', FILENAME = N''SecondaryDataPathCustoms_Actimize1_SufixDBName.ndf'' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB ), 
( NAME = N''Customs_Actimize2_SufixDBName'', FILENAME = N''SecondaryDataPathCustoms_Actimize2_SufixDBName.ndf'' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB ), 
 FILEGROUP [CRMFG] 
( NAME = N''Customs_CRM1_SufixDBName'', FILENAME = N''SecondaryDataPathCustoms_CRM1_SufixDBName.ndf'' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB ), 
( NAME = N''Customs_CRM2_SufixDBName'', FILENAME = N''SecondaryDataPathCustoms_CRM2_SufixDBName.ndf'' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB ), 
 FILEGROUP [CRPFG] 
( NAME = N''Customs_CRP1_SufixDBName'', FILENAME = N''SecondaryDataPathCustoms_CRP1_SufixDBName.ndf'' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB ), 
( NAME = N''Customs_CRP2_SufixDBName'', FILENAME = N''SecondaryDataPathCustoms_CRP2_SufixDBName.ndf'' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB ), 
 FILEGROUP [EnforcementFG] 
( NAME = N''Customs_Enforcement1_SufixDBName'', FILENAME = N''SecondaryDataPathCustoms_Enforcement1_SufixDBName.ndf'' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB ), 
( NAME = N''Customs_Enforcement2_SufixDBName'', FILENAME = N''SecondaryDataPathCustoms_Enforcement2_SufixDBName.ndf'' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB ), 
 FILEGROUP [FinanceFG] 
( NAME = N''Customs_Finance1_SufixDBName'', FILENAME = N''SecondaryDataPathCustoms_Finance1_SufixDBName.ndf'' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB ), 
( NAME = N''Customs_Finance2_SufixDBName'', FILENAME = N''SecondaryDataPathCustoms_Finance2_SufixDBName.ndf'' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB ), 
 FILEGROUP [FinanceInfrFG] 
( NAME = N''Customs_FinanceInfr1_SufixDBName'', FILENAME = N''SecondaryDataPathCustoms_FinanceInfr1_SufixDBName.ndf'' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB ), 
( NAME = N''Customs_FinanceInfr2_SufixDBName'', FILENAME = N''SecondaryDataPathCustoms_FinanceInfr2_SufixDBName.ndf'' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB ), 
 FILEGROUP [InfrastructureFG] 
( NAME = N''Customs_Infrastructure1_SufixDBName'', FILENAME = N''SecondaryDataPathCustoms_Infrastructure1_SufixDBName.ndf'' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB ), 
( NAME = N''Customs_Infrastructure2_SufixDBName'', FILENAME = N''SecondaryDataPathCustoms_Infrastructure2_SufixDBName.ndf'' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB ), 
 FILEGROUP [KnowledgeFG] 
( NAME = N''Customs_Knowledge1_SufixDBName'', FILENAME = N''SecondaryDataPathCustoms_Knowledge1_SufixDBName.ndf'' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB ), 
( NAME = N''Customs_Knowledge2_SufixDBName'', FILENAME = N''SecondaryDataPathCustoms_Knowledge2_SufixDBName.ndf'' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB ), 
 FILEGROUP [LogisticsFG] 
( NAME = N''Customs_Logistics1_SufixDBName'', FILENAME = N''SecondaryDataPathCustoms_Logistics1_SufixDBName.ndf'' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB ), 
( NAME = N''Customs_Logistics2_SufixDBName'', FILENAME = N''SecondaryDataPathCustoms_Logistics2_SufixDBName.ndf'' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB ), 
 FILEGROUP [SharedFG] 
( NAME = N''Customs_Shared1_SufixDBName'', FILENAME = N''SecondaryDataPathCustoms_Shared1_SufixDBName.ndf'' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB ), 
( NAME = N''Customs_Shared2_SufixDBName'', FILENAME = N''SecondaryDataPathCustoms_Shared2_SufixDBName.ndf'' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB ), 
 FILEGROUP [StockPileDataFG] 
( NAME = N''Customs_StockPileData1_SufixDBName'', FILENAME = N''SecondaryDataPathCustoms_StockPileData1_SufixDBName.ndf'' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB ), 
( NAME = N''Customs_StockPileData2_SufixDBName'', FILENAME = N''SecondaryDataPathCustoms_StockPileData2_SufixDBName.ndf'' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB ),
FILEGROUP [InMemoryFG] CONTAINS MEMORY_OPTIMIZED_DATA 
(NAME = N''Customs_InMemory'', FILENAME = N''D:\SQL\Data\Customs_InMemory'')
 LOG ON ( NAME = N''PureDatabaseName_log'', FILENAME = N''' + AO.SecondaryLogPath + N'PureDatabaseName_log.ldf'' , SIZE = 102400KB , MAXSIZE = 2048GB , FILEGROWTH = 102400KB )
GO
ALTER DATABASE DatabaseName SET COMPATIBILITY_LEVEL = ' + CONVERT(NVARCHAR(10),@databaseLevel) + '
IF (1 = FULLTEXTSERVICEPROPERTY(''IsFullTextInstalled'')) EXEC DatabaseName.[dbo].[sp_fulltext_database] @action = ''enable''
GO
ALTER DATABASE DatabaseName SET ANSI_NULL_DEFAULT OFF 
ALTER DATABASE DatabaseName SET ANSI_NULLS OFF 
ALTER DATABASE DatabaseName SET ANSI_PADDING OFF 
ALTER DATABASE DatabaseName SET ANSI_WARNINGS OFF 
ALTER DATABASE DatabaseName SET ARITHABORT OFF 
ALTER DATABASE DatabaseName SET AUTO_CLOSE OFF 
ALTER DATABASE DatabaseName SET AUTO_CREATE_STATISTICS ON 
ALTER DATABASE DatabaseName SET AUTO_SHRINK OFF 
ALTER DATABASE DatabaseName SET AUTO_UPDATE_STATISTICS ON 
ALTER DATABASE DatabaseName SET CURSOR_CLOSE_ON_COMMIT OFF 
ALTER DATABASE DatabaseName SET CURSOR_DEFAULT LOCAL 
ALTER DATABASE DatabaseName SET CONCAT_NULL_YIELDS_NULL OFF 
ALTER DATABASE DatabaseName SET NUMERIC_ROUNDABORT OFF 
ALTER DATABASE DatabaseName SET QUOTED_IDENTIFIER OFF 
ALTER DATABASE DatabaseName SET RECURSIVE_TRIGGERS OFF 
ALTER DATABASE DatabaseName SET DISABLE_BROKER 
ALTER DATABASE DatabaseName SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
ALTER DATABASE DatabaseName SET DATE_CORRELATION_OPTIMIZATION OFF 
ALTER DATABASE DatabaseName SET TRUSTWORTHY ON 
ALTER DATABASE DatabaseName SET ALLOW_SNAPSHOT_ISOLATION OFF 
ALTER DATABASE DatabaseName SET PARAMETERIZATION SIMPLE 
ALTER DATABASE DatabaseName SET READ_COMMITTED_SNAPSHOT OFF 
ALTER DATABASE DatabaseName SET HONOR_BROKER_PRIORITY OFF 
ALTER DATABASE DatabaseName SET RECOVERY FULL 
ALTER DATABASE DatabaseName SET MULTI_USER 
ALTER DATABASE DatabaseName SET PAGE_VERIFY CHECKSUM  
ALTER DATABASE DatabaseName SET DB_CHAINING OFF 
ALTER DATABASE DatabaseName SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
ALTER DATABASE DatabaseName SET TARGET_RECOVERY_TIME = 0 SECONDS 
ALTER DATABASE DatabaseName SET READ_WRITE 
' + IIF(@databaseLevel = 120,N'ALTER DATABASE DatabaseName SET DELAYED_DURABILITY = ALLOWED ',N'') + '*/
+ '
ALTER DATABASE DatabaseName SET DISABLE_BROKER 

USE DatabaseName
CREATE USER [LinkedServer_Reader] FOR LOGIN [LinkedServer_Reader]
ALTER ROLE [db_datareader] ADD MEMBER [LinkedServer_Reader]
IF  EXISTS (SELECT TOP 1 1 FROM sys.server_principals WHERE name = N''sa'')
	EXEC sp_changedbowner ''sa'' -- fix ownerships problems after transfer
ELSE
	RAISERROR (''sa Login does not exists'',16,1)
EXEC sys.sp_configure ''show advanced options'', 1;
RECONFIGURE WITH OVERRIDE
EXEC sys.sp_configure ''clr enabled'', 1;
RECONFIGURE WITH OVERRIDE
--------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------
:Connect PSNetName -U sa -P Password 
USE Customs_DBA
GO
PRINT ''Turn Off  Log BACKUP ON PSNetName''
cmdOff

USE [master]
GO
PRINT ''Backup DB DatabaseName on PSNetName''
DECLARE @Database sysname = ''PureDatabaseName''
DECLARE @Path nvarchar(2000) = ''' + BackupPath + N'\PureDatabaseName.bak''
DECLARE @Fast BIT = '+IIF(@IsFastBackRestore=1,'1','0')+'
DECLARE @IsCopyOnly BIT = 0

EXECUTE Customs_DBA.[Jobs].[usp_General_CreateBackupCustoms] 
   @Database
  ,@Path
  ,@Fast
  ,@IsCopyOnly
GO
'
	FROM	Customs_DBA.[DBSetup].[Setup_HADRConfiguration] AO
			INNER JOIN Customs_DBA.DBSetup.Security_Server PS ON PS.ID = AO.Primary_ServerID
			INNER JOIN Customs_DBA.DBSetup.Security_Server SS ON SS.ID = AO.Secondary_ServerID
	WHERE	PS.ServerName = @@SERVERNAME AND  @DBname=ao.DatabaseName;
	/*SecondaryLogPathCustoms*/
SELECT	@cmd = @cmd +'
:Connect SSNetName -U sa -P Password 
USE [master]
GO
PRINT ''Restore DB DatabaseName on SSNetName''
DECLARE @Source NVARCHAR(255) = ''' + AO.RestorePath + 'PureDatabaseName.bak''
DECLARE @TargetDirectory NVARCHAR(255) = N''SecondaryDataPath''
DECLARE @TargetDBName sysname = ''PureDatabaseName''
DECLARE @TargetLogLocation NVARCHAR(255) = N''SecondaryLogPath''
DECLARE @Debug BIT = 0
DECLARE @Fast BIT = '+IIF(@IsFastBackRestore=1,'1','0')+'
DECLARE @IsRecoveryModulFull BIT = 1
DECLARE @IsShrinkLog BIT = 1
DECLARE @IsOnRecovery BIT = 1
DECLARE @IsOnRecoveryCDC BIT = 0
DECLARE @IsSendReportOn BIT = 0
DECLARE @IsRecovery BIT = 0

EXECUTE Customs_DBA.[DBSetup].[usp_Setup_CreateDBFromBackup] 
   @Source
  ,@TargetDirectory
  ,@TargetDBName
  ,@TargetLogLocation
  ,@Debug
  ,@Fast
  ,@IsRecoveryModulFull
  ,@IsShrinkLog
  ,@IsOnRecovery
  ,@IsOnRecoveryCDC
  ,@IsSendReportOn
  ,@IsRecovery

'
FROM	Customs_DBA.[DBSetup].[Setup_HADRConfiguration] AO
		INNER JOIN Customs_DBA.DBSetup.Security_Server PS ON PS.ID = AO.Primary_ServerID
		INNER JOIN Customs_DBA.DBSetup.Security_Server SS ON SS.ID = AO.Secondary_ServerID
WHERE	PS.ServerName = @@SERVERNAME AND  @DBname = ao.DatabaseName;
SELECT	@cmd = @cmd +'
:Connect PSNetName -U sa -P Password 
USE [master]
GO
PRINT ''Backup LOG DatabaseName on PSNetName''
GO
BACKUP LOG DatabaseName TO
DISK = ''' + AO.PrimeryBackupPath + 'PureDatabaseName\PureDatabaseName_' + @DateTimeLable + '.trn'' 
WITH INIT,NOFORMAT, SKIP, NOREWIND, NOUNLOAD,  STATS = 10
GO

--waitfor delay ''00:05:00.000''
--GO
PRINT ''ADD DATABASE DatabaseName on PSNetName TO AG- ' + QUOTENAME(AO.AvailabilityGroupName) + '''
GO
ALTER AVAILABILITY GROUP ' + QUOTENAME(AO.AvailabilityGroupName) + ' ADD DATABASE DatabaseName;

:Connect SSNetName -U sa -P Password 
USE [master]
GO
PRINT ''Restore LOG DatabaseName on SSNetName''
GO
RESTORE LOG DatabaseName FROM
DISK = ''\\PSNetName\PureDatabaseName\PureDatabaseName_' + @DateTimeLable + '.trn'' 
WITH  FILE = 1,  NORECOVERY,  NOUNLOAD,  STATS = 10;

-- Wait for the replica to start communicating
begin try
declare @conn bit
declare @count int
declare @replica_id uniqueidentifier 
declare @group_id uniqueidentifier
set @conn = 0
set @count = 30 -- wait for 5 minutes 

if (serverproperty(''IsHadrEnabled'') = 1)
	and (isnull((select member_state from master.sys.dm_hadr_cluster_members where upper(member_name COLLATE Latin1_General_CI_AS) = upper(cast(serverproperty(''ComputerNamePhysicalNetBIOS'') as nvarchar(256)) COLLATE Latin1_General_CI_AS)), 0) <> 0)
	and (isnull((select state from master.sys.database_mirroring_endpoints), 1) = 0)
begin
    select @group_id = ags.group_id from master.sys.availability_groups as ags where name = ''' + AO.AvailabilityGroupName + '''
	select @replica_id = replicas.replica_id from master.sys.availability_replicas as replicas where upper(replicas.replica_server_name COLLATE Latin1_General_CI_AS) = upper(@@SERVERNAME COLLATE Latin1_General_CI_AS) and group_id = @group_id
	while @conn <> 1 and @count > 0
	begin
		set @conn = isnull((select connected_state from master.sys.dm_hadr_availability_replica_states as states where states.replica_id = @replica_id), 1)
		if @conn = 1
		begin
			-- exit loop when the replica is connected, or if the query cannot find the replica status
			break
		end
		waitfor delay ''00:00:10''
		set @count = @count - 1
	end
end
end try
begin catch
	-- If the wait loop fails, do not stop execution of the alter database statement
end catch
PRINT ''ADD DATABASE DatabaseName on SSNetName TO AG- ' + QUOTENAME(AO.AvailabilityGroupName) + '''
BEGIN TRY 
	ALTER DATABASE DatabaseName SET HADR AVAILABILITY GROUP = ' + QUOTENAME(AO.AvailabilityGroupName) + ';
END TRY
BEGIN CATCH
	IF @@ERROR = 35250
	BEGIN
		PRINT (''Msg 35250, Level 16, State 7, Line 41
The connection to the primary replica is not active.

To resolve  above errors
1. Ensure always on endpoint ([Hadr_endpoint]) are not blocked by firewall (Default port 5022). You can use with PortQryUI.exe to check it.
2. Make sure startup account of primary server is added to all secondary server''''s and Startup accounts of all secondary servers are added to primary servers.(Startup account of each replica to be added to other replica''''s) - GRANT CONNECT ON ENDPOINT::[Hadr_endpoint] TO [' + PS.ServiceWinUser + ']
3. If log on account of SQL Server is ''''Nt service\'''' or local system account then ensure system account (Domainname\systemname$) of each replica is added to other replicas.{CREATE LOGIN [MSSQLWIKI\node2$] FROM WINDOWS}
4. Grant connect on always on endpoints created on each replicas for startup account of other replica servers (Grant connect on endpoints even if startup account of other replicas are added as sysadmins).{GRANT CONNECT ON ENDPOINT::[Hadr_endpoint] TO [MSSQLWIKI\node1$]}
5. Make sure SQL Server name (SELECT @@SERVERNAME) matches with hostname.
6. Make sure cluster service startup account is part of SQL Server logins (More details in This link).'');
		Throw;
	END
	ELSE
    Throw;
END CATCH
GO

:Connect PSNetName -U sa -P Password 
USE Customs_DBA
GO
PRINT ''Turn ON  Log BACKUP ON PSNetName''
GO
cmdOn

:Connect SSNetName -U sa -P Password 
EXECUTE Customs_DBA.[_Admin_].[usp_Shipping_SetScriptViews];
GO

:Connect PSNetName -U sa -P Password 
USE master
GO
exec xp_cmdshell "cmd /c del ' + BackupPath + N'\PureDatabaseName.bak"
 	use  DatabaseName
				WAITFOR DELAY ''00:01:00''
		EXEC [_ScheduleTask_].[usp_Monitor_GlobalConfiguration]  '
	FROM	Customs_DBA.[DBSetup].[Setup_HADRConfiguration] AO
			INNER JOIN Customs_DBA.DBSetup.Security_Server PS ON PS.ID = AO.Primary_ServerID
			INNER JOIN Customs_DBA.DBSetup.Security_Server SS ON SS.ID = AO.Secondary_ServerID
	WHERE	PS.ServerName = @@SERVERNAME AND  @DBname=ao.DatabaseName;

	SELECT	@cmd = 
			REPLACE(
				REPLACE(
					REPLACE(
						REPLACE(
							REPLACE(
									REPLACE(
											REPLACE(
													REPLACE(@cmd,'SufixDBName',AO.SufixDBName)
											,'PureDatabaseName',AO.DatabaseName)
									,'Password',@Password)
							,'PSNetName',PS.NetName)
						,'SSNetName',SS.NetName)
					,'DatabaseName',QUOTENAME(AO.DatabaseName))
				,'SecondaryDataPath',AO.SecondaryDataPath)
			,'SecondaryLogPath',AO.SecondaryLogPath)
	FROM	Customs_DBA.[DBSetup].[Setup_HADRConfiguration] AO
			INNER JOIN Customs_DBA.DBSetup.Security_Server PS ON PS.ID = AO.Primary_ServerID
			INNER JOIN Customs_DBA.DBSetup.Security_Server SS ON SS.ID = AO.Secondary_ServerID
	WHERE	PS.ServerName = @@SERVERNAME AND  @DBname=ao.DatabaseName;

	SELECT	@cmd = REPLACE(
							REPLACE(@cmd,'cmdOn',N'EXEC msdb.dbo.sp_update_job @job_name=''' + name + ''',@enabled = 1;')
					,'cmdOff',N'EXEC msdb.dbo.sp_update_job @job_name=''' + name + ''',@enabled = 0;')
	FROM	msdb.dbo.sysjobs
	WHERE	name LIKE '%Log[_]Backup%'
			AND category_id = 3 -- Database Maintenance


	EXEC [Customs_DBA].[Script].[usp_PrintNvarcharMax] @cmd;



END
